<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hxx.demo.mapper.UserMapper">
    <resultMap id="BaseResultMap" type="com.hxx.demo.entity.User">
        <id column="id" property="id"/>
        <result column="user_name" property="userName"/>
        <result column="password" property="password"/>
        <result column="type" property="type"/>
        <result column="enabled" property="enabled"/>
        <result column="name" property="name"/>
        <result column="sex" property="sex"/>
        <result column="age" property="age"/>
        <result column="room_id" property="roomId"/>
        <result column="depart" property="depart"/>
        <result column="special" property="special"/>
        <result column="tel" property="tel"/>
        <result column="register_time" property="registerTime"/>
        <result column="imgUrl" property="imgUrl"/>
    </resultMap>
    <resultMap id="lazyLoadRoles" type="com.hxx.demo.entity.User" extends="BaseResultMap">
        <collection property="roles" ofType="com.hxx.demo.entity.Role" select="com.hxx.demo.mapper.UaerMapper.getRolesByUserId"
                    column="id"></collection>
    </resultMap>
    <resultMap id="eagerLoadRoles" type="com.hxx.demo.entity.User" extends="BaseResultMap">
        <collection property="roles" ofType="com.hxx.demo.entity.Role">
            <id property="id" column="rid"/>
            <result property="name" column="rname"/>
            <result property="nameZh" column="rnameZh"/>
        </collection>
    </resultMap>

    <select id="getRolesByUserId" resultType="com.hxx.demo.entity.Role">
        SELECT r.* FROM user_role ur,role r where ur.rid=r.id AND ur.userid=#{id}
    </select>
    <insert id="UserReg">
        INSERT INTO user set user_name=#{userName},password=#{password}
    </insert>
    <select id="getUsersByKeywords" resultMap="eagerLoadRoles">
        select h.*,`r`.`id` AS `rid`,`r`.`name` AS `rname`,`r`.`nameZh` AS `rnameZh` from ((`user` `h` left join `user_role`
        `u_r` on ((`h`.`id` = `u_r`.`Userid`))) left join `role` `r` on ((`u_r`.`rid` = `r`.`id`))) where h.`id` not
        in(select u_r.`Userid` from user_role u_r,role r where u_r.`rid`=r.`id` and r.`nameZh`='系统管理员')
        <if test="keywords!='all' and keywords!=''">
            and h.`name` like concat('%',#{keywords},'%')
        </if>
        order by h.`id` limit 10
    </select>
    <select id="getUserById" resultMap="eagerLoadRoles">
        select h.*,`r`.`id` AS `rid`,`r`.`name` AS `rname`,`r`.`nameZh` AS `rnameZh` from ((`user` `h` left join `user_role`
        `u_r` on ((`h`.`id` = `u_r`.`userid`))) left join `role` `r` on ((`u_r`.`rid` = `r`.`id`))) where h.`id`=#{userId}
    </select>
    <update id="updateUser" parameterType="com.hxx.demo.entity.User">
        update User
        <set>
            <if test="name != null">
                name = #{name,jdbcType=VARCHAR},
            </if>
            <if test="phone != null">
                phone = #{phone,jdbcType=CHAR},
            </if>
            <if test="telephone != null">
                telephone = #{telephone,jdbcType=VARCHAR},
            </if>
            <if test="address != null">
                address = #{address,jdbcType=VARCHAR},
            </if>
            <if test="enabled != null">
                enabled = #{enabled,jdbcType=BIT},
            </if>
            <if test="username != null">
                username = #{username,jdbcType=VARCHAR},
            </if>
            <if test="password != null">
                password = #{password,jdbcType=VARCHAR},
            </if>
            <if test="userface != null">
                userface = #{userface,jdbcType=VARCHAR},
            </if>
            <if test="remark != null">
                remark = #{remark,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id}
    </update>
    <delete id="deleteRoleByUserId" parameterType="Long">
        DELETE FROM user_role where userid=#{userId}
    </delete>
    <insert id="addRolesForUser">
        INSERT INTO user_role(userid,rid) VALUES
        <foreach collection="rids" separator="," item="rid">
            (#{userId},#{rid})
        </foreach>
    </insert>
    <delete id="deleteUser" parameterType="Long">
        DELETE FROM user WHERE id=#{UserId}
    </delete>
    <select id="getAllUser" resultType="com.hxx.demo.entity.User">
        select * from user
        <if test="currentId!=null">
            WHERE id !=#{currentId}
        </if>
    </select>
</mapper>
